<div class="playlist ml-4 mr-4 pt-4">
    <div class="text-white bg-transparent border-0">
        <div class="card-header bg-dark text-white text-center">
            <b>{{ include.title }}</b>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ include.src }}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</div>