---
title: Call of Duty Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">
            <!-- 
            {% include playlist.html title="2019 • CoD Infinite Warfare"
            src="https://www.youtube.com/embed/videoseries?si=Bp4r2bJULpdFmH5O&amp;list=PLj6oAnrqcYSaF3e2139yTM69sGwevRpsg"
            %}
            -->
            {% include playlist.html title="2003 • Call of Duty"
            src="https://www.youtube.com/embed/videoseries?si=Bp4r2bJULpdFmH5O&amp;list=PLj6oAnrqcYSaF3e2139yTM69sGwevRpsg"
            %}

        </div>
    </div>
