---
title: Conan Exiles Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

            {% include playlist.html title="Conan Exiles • Age of Calamitous"
            src="https://www.youtube.com/embed/videoseries?si=FhMBYNAfAWebuSZD&amp;list=PLj6oAnrqcYSYfYBXoRizTZDGAHeXBsyIP"
            %}

            {% include playlist.html title="Conan Exiles • Age of War"
            src="https://www.youtube.com/embed/videoseries?si=kDCzoosatBt5HohX&amp;list=PLj6oAnrqcYSad-2ht8nQlraPeUIPUNH1q"
            %}

            {% include playlist.html title="Conan Exiles • Geschichten"
            src="https://www.youtube.com/embed/videoseries?si=Bz56X12_WTDC8MXE&amp;list=PLj6oAnrqcYSYT9Pxt4gvX2XDPw_o0Jv40"
            %}

            {% include playlist.html title="Conan Exiles • Dit un Dat"
            src="https://www.youtube.com/embed/videoseries?si=ZUJigMtgXytVAXLj&amp;list=PLj6oAnrqcYSbpHOe3H5O3-5VDNCqvIDBc"
            %}

            {% include playlist.html title="Conan Exiles • Solo"
            src="https://www.youtube.com/embed/videoseries?si=EmljieP7EkGooVIa&amp;list=PLj6oAnrqcYSZ0XiLkGlsaDb6gCgBn8aTu"
            %}

            {% include playlist.html title="Conan Exiles • Isle of Siptah"
            src="https://www.youtube.com/embed/videoseries?si=ywZkkxQ_120l2cqk&amp;list=PLj6oAnrqcYSYCnmlm3XdjaCvxFfWkXmCA"
            %}

            {% include playlist.html title="Conan Exiles • Spoc Kay Joel Wanderer"
            src="https://www.youtube.com/embed/videoseries?si=r3FiujALvtXE0bT0&amp;list=PLj6oAnrqcYSZ3G4NG_LTJhlE2iJ2D5k4X"
            %}
            
        </div>
    </div>
</div>
