---
title: Coop mit Scheinweltname
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

            {% include playlist.html title="Halo Infinite • Coop Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=mwfETEqNO_t4whMW&amp;list=PLj6oAnrqcYSY9ifIQ5y-JnHFmU3lMFYbM"
            %}

            {% include playlist.html title="Generation Zero • Coop Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=9I96Clqgv6CbVIX4&amp;list=PLj6oAnrqcYSZbdCTRJ8Ohiv3io1WeuV66"
            %}

            {% include playlist.html title="Grounded • Coop Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=E6lMGG4XRycg1WoP&amp;list=PLj6oAnrqcYSauDUdKQ1IB9E2xpLSnAViJ"
            %}

            {% include playlist.html title="Redfall • Coop Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=ctP0EQYyybun6ZeK&amp;list=PLj6oAnrqcYSYN08z2CsnNtd1VKlIuBnYI"
            %}

            {% include playlist.html title="A way out • Coop Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=Ji32kgEQIJqOjfJ6&amp;list=PLj6oAnrqcYSaGIdrTGTPpgza56HgvC0Oe"
            %}

            {% include playlist.html title="It takes two • Coop Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=QRFStCq0Mwmmt1Rb&amp;list=PLj6oAnrqcYSbTl3GnOA29k8mMNut6IPhd"
            %}

        </div>
    </div>
</div>
