---
title: Aufbau-Spiele
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

            {% include playlist.html title="2024.06 Planet Crafter RELEASE"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=oztrBTRxo7yHSjEv&amp;list=PLj6oAnrqcYSao3zZLUBX6y9jsnh9gJo1C"
            %}

            {% include playlist.html title="2023.10 Planet Crafter Early Access"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=kjP1OpKl_9ZVMqR3&amp;list=PLj6oAnrqcYSZ0iFy28T--sgpuvPWlarPQ"
            %}
            
            {% include playlist.html title="2023.10 Forever Skies Early Access"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=yKIugmI-_8z-UXQE&amp;list=PLj6oAnrqcYSaBs6wdnsaCBMKuigYfW1wx"
            %}

        </div>
    </div>
</div>
