---
title: Fallout Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">
            {% include playlist.html title="2021.08 • Fallout New Vegas"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=BEzd-v9eqJ1DiamS&amp;list=PLj6oAnrqcYSZgbVeUMt6KjRCH4s70s4zK"
            %}

            {% include playlist.html title="2018.01 • Fallout 3"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=JtQLlzu1oPFFcEI0&amp;list=PLj6oAnrqcYSY1iyR6Nof9-toQt1792vq7"
            %}
        </div>
    </div>
