---
title: Fallout 4 Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">
            {% include playlist.html title="2019.09 • Fallout 4 v7"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=XJNRhWUcRyNijhjr&amp;list=PLj6oAnrqcYSbXztsqbBmwdclWHwMOouVC"
            %}

            {% include playlist.html title="2018.08 • Fallout 4 v5"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=csbOFmknN79Be6gs&amp;list=PLj6oAnrqcYSYkkLCVYqBcPI0FwzBZb_57"
            %}

            {% include playlist.html title="2017.08 • Fallout 4 v1 • Meine Siedlungen bei RichyBier"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=vN3OqQiQmEcD7NhD&amp;list=PLj6oAnrqcYSYARmk1uNzMLp-p9Oe9V44L"
            %}
        </div>
    </div>
</div>
