---
title: Generation Zero Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">
            {% include playlist.html title="Generation Zero mit Scheinweltname"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=ZKrZvw4fdtWUD8iE&amp;list=PLj6oAnrqcYSZbdCTRJ8Ohiv3io1WeuV66"
            %}
            {% include playlist.html title="Coop Spoc Wanderer"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=Kl-AiU8x-P5H8c9W&amp;list=PLj6oAnrqcYSZDd-uXO4gecljlFOM9ulrd"
            %}
            {% include playlist.html title="01.2020 - 06.2021 • TEAM Spoc Borstenmaul"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=coSsK6EdugRL3bFd&amp;list=PLj6oAnrqcYSafFWM7i1dCB7e_RWT1okIt"
            %}
        </div>
    </div>
</div>