---
title: Horizon Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

        {% include playlist.html title="Horizon Forbidden West PC • v1 Die Story"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=8eYZ8O6t1avpyuYl&amp;list=PLj6oAnrqcYSZXNuQFK9UaT8zBOOZCo1D4"
        %}
        
        {% include playlist.html title="Horizon Zero Dawn PC • v3 kommentarlos"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=f32qWFwYH5RPP6Y9&amp;list=PLj6oAnrqcYSbB4oqr2G9W-F-KuxadJ9W_"
        %}
        
        {% include playlist.html title="Horizon Zero Dawn PC • v2"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=4RmAV4GrLgsSy4tH&amp;list=PLj6oAnrqcYSaW5T6vOcYiA6DKjX15GW0v"
        %}
        
        {% include playlist.html title="Horizon Zero Dawn PC • v1"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=RwW09TyiFFOH3BCi&amp;list=PLj6oAnrqcYSYkzS-RMLwh6HqFtyVmMeXf"
        %}        
    </div>
</div>
