---
title: Skyrim
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

        {% include playlist.html title="2024.01 • Outriders • s2 Story" 
        src="https://www.youtube-nocookie.com/embed/videoseries?si=S8UagR_gXRxQMb1j&amp;list=PLj6oAnrqcYSYuRVmF1cMRR1jkeCJp4WCE"
        %}

        {% include playlist.html title="2023.12 • Outriders • s1 Team"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=vJXNoSCT41JtfH0_&amp;list=PLj6oAnrqcYSZCbi--2-VXScC40yJfV1Un"
        %}

        </div>  
    </div>
</div>
