---
title: Skyrim
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

        {% include playlist.html title="2024.01 • Skyrim" 
        src="https://www.youtube.com/embed/videoseries?si=6_gpbqR-evS-wQ1F&amp;list=PLj6oAnrqcYSbXvHgxekQ2NaJ4v4L-bZfW"
        %}

        {% include playlist.html title="Skyrim Special Edition"
        src="https://www.youtube.com/embed/videoseries?si=LC08mQSyNNxuAWA8&amp;list=PLj6oAnrqcYSbBpdH1LgBg6fm0fURPfYbA"
        %}

        </div>  
    </div>
</div>
