---
title: Sonstige Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">

            {% include playlist.html title="Halo • Infinite"
            src="https://www.youtube.com/embed/videoseries?si=24j-feMFRWLqzrum&amp;list=PLj6oAnrqcYSY9ifIQ5y-JnHFmU3lMFYbM"
            %}

            {% include playlist.html title="Titanfall 2"
            src="https://www.youtube.com/embed/videoseries?si=tn163-_bYv4knF5M&amp;list=PLj6oAnrqcYSbi14zN-BCJ0DUeXlyGfpzF"
            %}

            {% include playlist.html title="Outriders"
            src="https://www.youtube.com/embed/videoseries?si=OMvm8S2RU7DUI8Xo&amp;list=PLj6oAnrqcYSYmY_aAenRJ_D22kIg5tMxm"
            %}

            {% include playlist.html title="Borderlands 3 mit Scheinweltname + Spoc"
            src="https://www.youtube.com/embed/videoseries?si=5O_NdK7YetXc2qIj&amp;list=PLj6oAnrqcYSY4lEWWhMhuH45GTg8ICDML"
            %}

            {% include playlist.html title="Tiny Tinas Wonderlands mit Scheinweltname + Spoc"
            src="https://www.youtube.com/embed/videoseries?si=ezlwBoe2nOdS0R9N&amp;list=PLj6oAnrqcYSZX4-zFAwnEtM_XoVvI_pXV"
            %}

            {% include playlist.html title="Call of Duty (2003)"
            src="https://www.youtube.com/embed/videoseries?si=Icl8xCUGjDNZUn63&amp;list=PLj6oAnrqcYSaF3e2139yTM69sGwevRpsg"
            %}

            {% include playlist.html title="7 Days to Die • Team"
            src="https://www.youtube.com/embed/videoseries?si=qhqs93L742zboh9U&amp;list=PLj6oAnrqcYSZv4lA6UuwPSIEeyqvhvPfG"
            %}

            {% include playlist.html title="Dark and Light • 3 Zwerge"
            src="https://www.youtube.com/embed/videoseries?si=s6bMVcmcXDF5APVB&amp;list=PLj6oAnrqcYSbamRhcfef8kNPBV3IsZGk0"
            %}

            {% include playlist.html title="Skyrim Special Edition"
            src="https://www.youtube.com/embed/videoseries?si=LC08mQSyNNxuAWA8&amp;list=PLj6oAnrqcYSbBpdH1LgBg6fm0fURPfYbA"
            %}

            {% include playlist.html title="ESO • Zauberin im Ebenerz Pakt"
            src="https://www.youtube.com/embed/videoseries?si=XMINMR1MByqf4aOq&amp;list=PLj6oAnrqcYSYqkEEOYfvZ5me9ns7U4Vin"
            %}
        </div>
    </div>
</div>