---
title: Starfield Playlists
layout: default
---
{% include banner.html %}
<div class="d-flex justify-content-center">
    <div class="page-content">
        <div class="row d-flex justify-content-center mb-4">
            {% include playlist.html title="Session 2 • Story (Aktuell)"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=560XZiDESn1qwOVs&amp;list=PLj6oAnrqcYSZ3GlmfPVCy91LwHroD5OnY"
            %}

            {% include playlist.html title="Session 1 • Drauflos gespielt"
            src="https://www.youtube-nocookie.com/embed/videoseries?si=ilQ1RDH8NbPHTXN9&amp;list=PLj6oAnrqcYSZebLMSOdk9pjNLRZfC-BGo"
            %}
        </div>
    </div>
</div>
